<div id="complexSearchContainer" class="card mb-0">
    <div class="card-body">
        <p class="m-0">Showing Results for: <span class="font-weight-bold">&nbsp State-</span>"{{state}}" <span class="font-weight-bold">&nbsp City-</span>"{{city}}"<span class="font-weight-bold">&nbsp Query-</span>"{{name}}"</p>
    </div>
</div>