
assets/img/

\.idea/

assets/assets-for-demo/

assets/js/core/

assets/js/plugins/

assets/js/bootstrap-material-design\.js

assets/js/bootstrap-material-design\.min\.js

assets/js/material-kit\.js

assets/js/material-kit\.min\.js

assets/css/material-kit\.css

assets/css/material-kit\.css\.map

assets/scss/

assets/css/material-kit\.min\.css
