#discover {
    position: relative;
}

#autocomplete_container {
    position: absolute;
    top: 150%;          /*Hard coded*/
    left: 0;
}

   .footerimage{}       

  @media only screen and (max-width: 600px) {
    #autocomplete_container {
        top: 116%;
    }

    .footerimage{background-image: none!important;background-color:black;}
}

.tuition-cards {
    cursor: pointer;
}
/* the slides */
.slick-slide {
    margin: 0 27px;
}