<div class="form-group">
    <label for="edit_review_rating_inp" class="bmd-label-floating">Rating</label>
    <input id="edit_review_rating_inp" type="number" name="rating" class="form-control" value="{{rating}}" required>
</div>

<div class="form-group">
    <label for="edit_review_desc_inp" class="bmd-label-floating">Description</label>
    <textarea  id="edit_review_desc_inp" name="description" rows="3" class="form-control">{{description}}</textarea>
</div>