<div class="col-12">
                        <!-- Restaurant Item -->
                        <div class="item">
                            <!-- Item's image -->
                            <img class="img-responsive" src="https://lorempixel.com/200/200/food/1/" alt="">
                            <!-- Item details -->
                            <div class="item-dtls">
                                <!-- product title -->
                                <h4>
                                  <a href="#"> <i class="fas fa-address-card aicon" style="color:#337ab7;"></i></a>
                                    <a href="#" class="content">{{Address}} </a></h4>
                                    <h4>
                                    <a href="#"><i class="fa fa-envelope aicon" aria-hidden="true" style="color:#337ab7;"></i></a>
                                     <a href="#" class="content">{{Email}}</a></h4>
                                     </a>
                                   <a href="#"><i class="fa fa-mobile aicon" aria-hidden="true" style="color:#337ab7;"></i></a>
                                    <a href="#" class="content">{{Phone}}</a></h4>
                                <!-- price -->
                                <span class="price lblue" class="content">2.5</span>
                                <i class="fa fa-star" aria-hidden="true" style="color:#337ab7;"></i>
                                <i class="fa fa-star" aria-hidden="true" style="color:#337ab7;"></i>                           
                               <i class="fa fa-star-half-o" aria-hidden="true" style="color:#337ab7;"></i>
                            </div>
                            <!-- add to cart btn -->
                            <div class="ecom bg-lblue">
                                <a class="btn" href="#">Details</a>
                            </div>
                        </div>
                    </div>   