<a href="{{facebook}}" target="_blank"
   class="btn btn-just-icon btn-round btn-facebook social-icons">
    <i class="fa fa-facebook"> </i>
</a>
<a href="{{youtube}}"
   class="btn btn-just-icon btn-round btn-youtube social-icons">
    <i class="fa fa-youtube"> </i>
</a>
<a href="{{instagram}}"
   class="btn btn-just-icon btn-round btn-dribbble social-icons">
    <i class="fa fa-instagram"></i>
</a>